fastapi==0.109.2
uvicorn==0.27.1
pydantic>=2.7.4
psycopg2-binary==2.9.9
SQLAlchemy==2.0.27
python-dotenv==1.0.1

langchain==0.2.17
langchain-community==0.2.17
langchain-google-genai==1.0.10
google-generativeai==0.7.2
prometheus-fastapi-instrumentator